@font-face {
  font-family: 'Cedarville Cursive';
  src: url('./fonts/CedarvilleCursive-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

html {
  cursor: url('./cursor/pinkheart_normalselect.cur'), auto;
  /* cursor: url('./cursor/pinkheart_helpselect.cur'), pointer; */
}

body {
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #ffd6ea;
    font-family: Georgia, serif;
}

h1 {
    font-family: 'Cedarville Cursive', cursive;
    color: #FFA1E2;
    font-size: 50px;
    padding: 0px;
    /* margin: 0px; */
    border: 0px;
    /* margin-bottom: 2px; */
}

h3{
    font-family: 'Cedarville Cursive', cursive;
    margin-bottom: 10px;
}

.home-container{
    width:800px;
    background:#f3f3f3;
    border-radius:38px;
    padding:30px;
    text-align:center;
}

.apps{
    display: grid;
    grid-template-columns: repeat(3, 3fr);
    gap: 20px;
}

.app-slot{
    background:#f4ddeb;
    height: 100px;
    border-radius:20px;
    padding:30px;
    text-align:center;
}

#days-left{
    /* border: 1px solid #FFA1E2; */
    padding: 5px;
    font-size: 50px;
    color: #FFA1E2;
    display: block;
}

#date-text{
    color: #FFA1E2;
    font-family: 'Cedarville Cursive', cursive;
}

#countdown{
    /* border: 1px solid #FFA1E2;
    border-radius:20px;
    padding-bottom: 10px */
    display: block;
    background:#ffffff;
    border-radius:10px;
    padding-bottom: 15px;
    text-align:center;
}

#letters, #gallery, #game, #puzzle, #music{
    font-family: 'Cedarville Cursive', cursive;
    font-size: 40px;
    display: block;
    color: #FFA1E2;
    text-align: center;
    align-content: center;
    height: 100px;
}